In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('Admission_Predict.csv')

In [3]:
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [4]:
df.drop(columns=['Serial No.'],inplace=True)

In [5]:
df.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   GRE Score          400 non-null    int64
 1   TOEFL Score        400 non-null    int64
 2   University Rating  400 non-null    int64
 3   SOP                400 non-null    float64
 4   LOR                400 non-null    float64
 5   CGPA               400 non-null    float64
 6   Research           400 non-null    int64
 7   Chance of Admit    400 non-null    float64
dtypes: float64(4), int64(4)
memory usage: 25.1 KB

In [7]:
df.describe()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,316.807500,107.410000,3.087500,3.400000,3.452500,8.598925,0.547500,0.724350
std,11.473646,6.069514,1.143728,1.006869,0.898478,0.596317,0.498362,0.142609
min,290.000000,92.000000,1.000000,1.000000,1.000000,6.800000,0.000000,0.340000
25%,308.000000,103.000000,2.000000,2.500000,3.000000,8.170000,0.000000,0.640000
50%,317.000000,107.000000,3.000000,3.500000,3.500000,8.610000,1.000000,0.730000
75%,325.000000,112.000000,4.000000,4.000000,4.000000,9.062500,1.000000,0.830000
max,340.000000,120.000000,5.000000,5.000000,5.000000,9.920000,1.000000,0.970000

In [8]:
df.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df.iloc[:,0:7],df.iloc[:,-1],test_size=.1,random_state=42)

In [10]:
x_train

     GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  Research
381        319          105                  3  3.0   3.5  8.67         1
55         320          103                  3  3.0   3.0  7.70         0
76         327          112                  3  3.0   3.0  8.72         1
25         340          120                  5  4.5   4.5  9.60         1
82         320          110                  5  5.0   4.5  9.22         1
..         ...          ...                ...  ...   ...   ...       ...
71         336          112                  5  5.0   5.0  9.76         1
106        329          111                  4  4.5   4.5  9.18         1
270        306          105                  2  2.5   3.0  8.22         1
348        302           99                  1  2.0   2.0  7.25         0
102        314          106                  2  4.0   3.5  8.25         0

[360 rows x 7 columns]

In [11]:
x_test

     GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  Research
209        301          104                  3  3.5   4.0  8.12         1
280        311          102                  3  4.5   4.0  8.64         1
33         340          114                  5  4.0   4.0  9.60         1
210        325          108                  4  4.5   4.0  9.06         1
93         301           97                  2  3.0   3.0  7.88         1
84         340          115                  5  4.5   4.5  9.45         1
329        297           96                  2  2.5   1.5  7.89         0
94         303           99                  3  2.0   2.5  7.66         0
266        312          105                  2  2.0   2.5  8.45         0
126        323          113                  3  4.0   3.0  9.32         1
9          323          108                  3  3.5   3.0  8.60         0
361        334          116                  4  4.0   3.5  9.54         1
56         316          102                  3  2.0   3.0  7.40         0
72         321          111                  5  5.0   5.0  9.45         1
132        309          105                  5  3.5   3.5  8.56         0
42         313          107                  2  2.5   2.0  8.50         1
278        308          103                  2  3.0   3.5  8.49         0
376        297           96                  2  2.5   2.0  7.43         0
231        319          106                  3  3.5   2.5  8.33         1
385        335          117                  5  5.0   5.0  9.82         1
77         301           99                  2  3.0   2.0  8.22         0
15         314          105                  3  3.5   2.5  8.30         0
391        318          106                  3  2.0   3.0  8.65         0
271        299           96                  2  1.5   2.0  7.86         0
0          337          118                  4  4.5   4.5  9.65         1
396        325          107                  3  3.0   3.5  9.11         1
114        311          105                  3  3.5   3.0  8.45         1
225        296           99                  2  2.5   2.5  8.03         0
262        308          103                  2  2.5   4.0  8.36         1
104        326          112                  3  3.5   3.0  9.05         1
395        324          110                  3  3.5   3.5  9.04         1
193        336          118                  5  4.5   5.0  9.53         1
261        312          104                  3  3.5   4.0  8.09         0
57         298           99                  2  4.0   2.0  7.60         0
232        312          107                  2  2.5   3.5  8.27         0
116        299          102                  3  4.0   3.5  8.62         0
113        320          110                  2  4.0   3.5  8.56         0
342        308          106                  3  3.0   3.0  8.24         0
158        306          106                  2  2.0   2.5  8.14         0
141        332          118                  2  4.5   3.5  9.36         1

In [12]:
y_train

381    0.73
55     0.64
76     0.74
25     0.94
82     0.92
       ...
71     0.96
106    0.87
270    0.72
348    0.57
102    0.62
Name: Chance of Admit , Length: 360, dtype: float64

In [13]:
y_test

209    0.68
280    0.68
33     0.90
210    0.79
93     0.44
84     0.94
329    0.43
94     0.36
266    0.72
126    0.85
9      0.45
361    0.93
56     0.64
72     0.93
132    0.71
42     0.53
278    0.66
376    0.34
231    0.74
385    0.96
77     0.64
15     0.54
391    0.71
271    0.54
0      0.92
396    0.84
114    0.59
225    0.61
262    0.70
104    0.74
395    0.82
193    0.94
261    0.71
57     0.46
232    0.69
116    0.56
113    0.72
342    0.58
158    0.61
141    0.90
Name: Chance of Admit , dtype: float64

scaling

In [14]:
from sklearn.preprocessing import MinMaxScaler
# making object 
mms=MinMaxScaler()
# fit only training data 
mms.fit(x_train)
# transform on both training and test data 
x_train=mms.transform(x_train)
x_test=mms.transform(x_test)

# model architecture

In [17]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [34]:
# creating sequential model object
model=Sequential()
# hidden layer-1
model.add(Dense(7,activation='relu',input_dim=7))
#hidden layer-2 
model.add(Dense(7,activation='relu'))
#output layer
model.add(Dense(1,activation='linear')) # in case of regression

In [35]:
# model summary 
model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_8 (Dense)             (None, 7)                 56

 dense_9 (Dense)             (None, 7)                 56

 dense_10 (Dense)            (None, 1)                 8

=================================================================
Total params: 120 (480.00 Byte)
Trainable params: 120 (480.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

model compilation

In [37]:
model.compile(optimizer='Adam',loss='mean_squared_error',metrics='accuracy')

fit model and save history

In [38]:
history=model.fit(x_train,y_train,batch_size=50,epochs=100,validation_split=.2,verbose=1)

Epoch 1/100

6/6 [==============================] - 1s 54ms/step - loss: 0.9173 - accuracy: 0.0000e+00 - val_loss: 0.8946 - val_accuracy: 0.0000e+00
Epoch 2/100
6/6 [==============================] - 0s 13ms/step - loss: 0.7821 - accuracy: 0.0000e+00 - val_loss: 0.7555 - val_accuracy: 0.0000e+00
Epoch 3/100
6/6 [==============================] - 0s 12ms/step - loss: 0.6604 - accuracy: 0.0000e+00 - val_loss: 0.6311 - val_accuracy: 0.0000e+00
Epoch 4/100
6/6 [==============================] - 0s 12ms/step - loss: 0.5508 - accuracy: 0.0000e+00 - val_loss: 0.5217 - val_accuracy: 0.0000e+00
Epoch 5/100
6/6 [==============================] - 0s 13ms/step - loss: 0.4528 - accuracy: 0.0000e+00 - val_loss: 0.4276 - val_accuracy: 0.0000e+00
Epoch 6/100
6/6 [==============================] - 0s 13ms/step - loss: 0.3728 - accuracy: 0.0000e+00 - val_loss: 0.3472 - val_accuracy: 0.0000e+00
Epoch 7/100
6/6 [==============================] - 0s 14ms/step - loss: 0.3052 - accuracy: 0.0000e+00 - val_loss: 0.2832 - val_accuracy: 0.0000e+00
Epoch 8/100
6/6 [==============================] - 0s 13ms/step - loss: 0.2543 - accuracy: 0.0000e+00 - val_loss: 0.2389 - val_accuracy: 0.0000e+00
Epoch 9/100
6/6 [==============================] - 0s 13ms/step - loss: 0.2205 - accuracy: 0.0000e+00 - val_loss: 0.2079 - val_accuracy: 0.0000e+00
Epoch 10/100
6/6 [==============================] - 0s 13ms/step - loss: 0.1937 - accuracy: 0.0000e+00 - val_loss: 0.1809 - val_accuracy: 0.0000e+00
Epoch 11/100
6/6 [==============================] - 0s 13ms/step - loss: 0.1691 - accuracy: 0.0000e+00 - val_loss: 0.1551 - val_accuracy: 0.0000e+00
Epoch 12/100
6/6 [==============================] - 0s 13ms/step - loss: 0.1452 - accuracy: 0.0000e+00 - val_loss: 0.1306 - val_accuracy: 0.0000e+00
Epoch 13/100
6/6 [==============================] - 0s 13ms/step - loss: 0.1224 - accuracy: 0.0000e+00 - val_loss: 0.1080 - val_accuracy: 0.0000e+00
Epoch 14/100
6/6 [==============================] - 0s 13ms/step - loss: 0.1017 - accuracy: 0.0000e+00 - val_loss: 0.0877 - val_accuracy: 0.0000e+00
Epoch 15/100
6/6 [==============================] - 0s 15ms/step - loss: 0.0834 - accuracy: 0.0000e+00 - val_loss: 0.0700 - val_accuracy: 0.0000e+00
Epoch 16/100
6/6 [==============================] - 0s 13ms/step - loss: 0.0672 - accuracy: 0.0000e+00 - val_loss: 0.0551 - val_accuracy: 0.0000e+00
Epoch 17/100
6/6 [==============================] - 0s 12ms/step - loss: 0.0536 - accuracy: 0.0000e+00 - val_loss: 0.0429 - val_accuracy: 0.0000e+00
Epoch 18/100
6/6 [==============================] - 0s 12ms/step - loss: 0.0426 - accuracy: 0.0000e+00 - val_loss: 0.0333 - val_accuracy: 0.0000e+00
Epoch 19/100
6/6 [==============================] - 0s 13ms/step - loss: 0.0339 - accuracy: 0.0000e+00 - val_loss: 0.0260 - val_accuracy: 0.0000e+00
Epoch 20/100
6/6 [==============================] - 0s 12ms/step - loss: 0.0272 - accuracy: 0.0000e+00 - val_loss: 0.0207 - val_accuracy: 0.0000e+00
Epoch 21/100
6/6 [==============================] - 0s 13ms/step - loss: 0.0224 - accuracy: 0.0000e+00 - val_loss: 0.0171 - val_accuracy: 0.0000e+00
Epoch 22/100
6/6 [==============================] - 0s 12ms/step - loss: 0.0190 - accuracy: 0.0000e+00 - val_loss: 0.0148 - val_accuracy: 0.0000e+00
Epoch 23/100
6/6 [==============================] - 0s 12ms/step - loss: 0.0168 - accuracy: 0.0000e+00 - val_loss: 0.0134 - val_accuracy: 0.0000e+00
Epoch 24/100
6/6 [==============================] - 0s 12ms/step - loss: 0.0153 - accuracy: 0.0000e+00 - val_loss: 0.0127 - val_accuracy: 0.0000e+00
Epoch 25/100
6/6 [==============================] - 0s 12ms/step - loss: 0.0145 - accuracy: 0.0000e+00 - val_loss: 0.0123 - val_accuracy: 0.0000e+00
Epoch 26/100
6/6 [==============================] - 0s 12ms/step - loss: 0.0139 - accuracy: 0.0000e+00 - val_loss: 0.0122 - val_accuracy: 0.0000e+00
Epoch 27/100
6/6 [==============================] - 0s 12ms/step - loss: 0.0136 - accuracy: 0.0000e+00 - val_loss: 0.0121 - val_accuracy: 0.0000e+00
Epoch 28/100
6/6 [==============================] - 0s 13ms/step - loss: 0.0134 - accuracy: 0.0000e+00 - val_loss: 0.0120 - val_accuracy: 0.0000e+00
Epoch 29/100
6/6 [==============================] - 0s 14ms/step - loss: 0.0132 - accuracy: 0.0000e+00 - val_loss: 0.0119 - val_accuracy: 0.0000e+00
Epoch 30/100
6/6 [==============================] - 0s 14ms/step - loss: 0.0131 - accuracy: 0.0000e+00 - val_loss: 0.0118 - val_accuracy: 0.0000e+00
Epoch 31/100
6/6 [==============================] - 0s 12ms/step - loss: 0.0130 - accuracy: 0.0000e+00 - val_loss: 0.0117 - val_accuracy: 0.0000e+00
Epoch 32/100
6/6 [==============================] - 0s 14ms/step - loss: 0.0128 - accuracy: 0.0000e+00 - val_loss: 0.0115 - val_accuracy: 0.0000e+00
Epoch 33/100
6/6 [==============================] - 0s 12ms/step - loss: 0.0127 - accuracy: 0.0000e+00 - val_loss: 0.0114 - val_accuracy: 0.0000e+00
Epoch 34/100
6/6 [==============================] - 0s 12ms/step - loss: 0.0125 - accuracy: 0.0000e+00 - val_loss: 0.0112 - val_accuracy: 0.0000e+00
Epoch 35/100
6/6 [==============================] - 0s 12ms/step - loss: 0.0124 - accuracy: 0.0000e+00 - val_loss: 0.0111 - val_accuracy: 0.0000e+00
Epoch 36/100
6/6 [==============================] - 0s 12ms/step - loss: 0.0123 - accuracy: 0.0000e+00 - val_loss: 0.0110 - val_accuracy: 0.0000e+00
Epoch 37/100
6/6 [==============================] - 0s 12ms/step - loss: 0.0121 - accuracy: 0.0000e+00 - val_loss: 0.0108 - val_accuracy: 0.0000e+00
Epoch 38/100
6/6 [==============================] - 0s 13ms/step - loss: 0.0120 - accuracy: 0.0000e+00 - val_loss: 0.0107 - val_accuracy: 0.0000e+00
Epoch 39/100
6/6 [==============================] - 0s 17ms/step - loss: 0.0119 - accuracy: 0.0000e+00 - val_loss: 0.0106 - val_accuracy: 0.0000e+00
Epoch 40/100
6/6 [==============================] - 0s 12ms/step - loss: 0.0118 - accuracy: 0.0000e+00 - val_loss: 0.0105 - val_accuracy: 0.0000e+00
Epoch 41/100
6/6 [==============================] - 0s 12ms/step - loss: 0.0117 - accuracy: 0.0000e+00 - val_loss: 0.0103 - val_accuracy: 0.0000e+00
Epoch 42/100
6/6 [==============================] - 0s 12ms/step - loss: 0.0115 - accuracy: 0.0000e+00 - val_loss: 0.0102 - val_accuracy: 0.0000e+00
Epoch 43/100
6/6 [==============================] - 0s 12ms/step - loss: 0.0114 - accuracy: 0.0000e+00 - val_loss: 0.0101 - val_accuracy: 0.0000e+00
Epoch 44/100
6/6 [==============================] - 0s 12ms/step - loss: 0.0113 - accuracy: 0.0000e+00 - val_loss: 0.0100 - val_accuracy: 0.0000e+00
Epoch 45/100
6/6 [==============================] - 0s 12ms/step - loss: 0.0112 - accuracy: 0.0000e+00 - val_loss: 0.0099 - val_accuracy: 0.0000e+00
Epoch 46/100
6/6 [==============================] - 0s 12ms/step - loss: 0.0111 - accuracy: 0.0000e+00 - val_loss: 0.0098 - val_accuracy: 0.0000e+00
Epoch 47/100
6/6 [==============================] - 0s 12ms/step - loss: 0.0110 - accuracy: 0.0000e+00 - val_loss: 0.0097 - val_accuracy: 0.0000e+00
Epoch 48/100
6/6 [==============================] - 0s 13ms/step - loss: 0.0108 - accuracy: 0.0000e+00 - val_loss: 0.0096 - val_accuracy: 0.0000e+00
Epoch 49/100
6/6 [==============================] - 0s 12ms/step - loss: 0.0107 - accuracy: 0.0000e+00 - val_loss: 0.0095 - val_accuracy: 0.0000e+00
Epoch 50/100
6/6 [==============================] - 0s 12ms/step - loss: 0.0106 - accuracy: 0.0000e+00 - val_loss: 0.0094 - val_accuracy: 0.0000e+00
Epoch 51/100
6/6 [==============================] - 0s 13ms/step - loss: 0.0105 - accuracy: 0.0000e+00 - val_loss: 0.0093 - val_accuracy: 0.0000e+00
Epoch 52/100
6/6 [==============================] - 0s 12ms/step - loss: 0.0104 - accuracy: 0.0000e+00 - val_loss: 0.0092 - val_accuracy: 0.0000e+00
Epoch 53/100
6/6 [==============================] - 0s 12ms/step - loss: 0.0103 - accuracy: 0.0000e+00 - val_loss: 0.0091 - val_accuracy: 0.0000e+00
Epoch 54/100
6/6 [==============================] - 0s 11ms/step - loss: 0.0102 - accuracy: 0.0000e+00 - val_loss: 0.0090 - val_accuracy: 0.0000e+00
Epoch 55/100
6/6 [==============================] - 0s 12ms/step - loss: 0.0101 - accuracy: 0.0000e+00 - val_loss: 0.0089 - val_accuracy: 0.0000e+00
Epoch 56/100
6/6 [==============================] - 0s 12ms/step - loss: 0.0100 - accuracy: 0.0000e+00 - val_loss: 0.0088 - val_accuracy: 0.0000e+00
Epoch 57/100
6/6 [==============================] - 0s 12ms/step - loss: 0.0099 - accuracy: 0.0000e+00 - val_loss: 0.0087 - val_accuracy: 0.0000e+00
Epoch 58/100
6/6 [==============================] - 0s 12ms/step - loss: 0.0098 - accuracy: 0.0000e+00 - val_loss: 0.0087 - val_accuracy: 0.0000e+00
Epoch 59/100
6/6 [==============================] - 0s 12ms/step - loss: 0.0098 - accuracy: 0.0000e+00 - val_loss: 0.0086 - val_accuracy: 0.0000e+00
Epoch 60/100
6/6 [==============================] - 0s 14ms/step - loss: 0.0097 - accuracy: 0.0000e+00 - val_loss: 0.0085 - val_accuracy: 0.0000e+00
Epoch 61/100
6/6 [==============================] - 0s 12ms/step - loss: 0.0096 - accuracy: 0.0000e+00 - val_loss: 0.0085 - val_accuracy: 0.0000e+00
Epoch 62/100
6/6 [==============================] - 0s 13ms/step - loss: 0.0095 - accuracy: 0.0000e+00 - val_loss: 0.0084 - val_accuracy: 0.0000e+00
Epoch 63/100
6/6 [==============================] - 0s 16ms/step - loss: 0.0094 - accuracy: 0.0000e+00 - val_loss: 0.0083 - val_accuracy: 0.0000e+00
Epoch 64/100
6/6 [==============================] - 0s 12ms/step - loss: 0.0093 - accuracy: 0.0000e+00 - val_loss: 0.0082 - val_accuracy: 0.0000e+00
Epoch 65/100
6/6 [==============================] - 0s 12ms/step - loss: 0.0092 - accuracy: 0.0000e+00 - val_loss: 0.0082 - val_accuracy: 0.0000e+00
Epoch 66/100
6/6 [==============================] - 0s 12ms/step - loss: 0.0091 - accuracy: 0.0000e+00 - val_loss: 0.0081 - val_accuracy: 0.0000e+00
Epoch 67/100
6/6 [==============================] - 0s 12ms/step - loss: 0.0090 - accuracy: 0.0000e+00 - val_loss: 0.0081 - val_accuracy: 0.0000e+00
Epoch 68/100
6/6 [==============================] - 0s 12ms/step - loss: 0.0089 - accuracy: 0.0000e+00 - val_loss: 0.0080 - val_accuracy: 0.0000e+00
Epoch 69/100
6/6 [==============================] - 0s 12ms/step - loss: 0.0088 - accuracy: 0.0000e+00 - val_loss: 0.0079 - val_accuracy: 0.0000e+00
Epoch 70/100
6/6 [==============================] - 0s 13ms/step - loss: 0.0087 - accuracy: 0.0000e+00 - val_loss: 0.0079 - val_accuracy: 0.0000e+00
Epoch 71/100
6/6 [==============================] - 0s 13ms/step - loss: 0.0086 - accuracy: 0.0000e+00 - val_loss: 0.0078 - val_accuracy: 0.0000e+00
Epoch 72/100
6/6 [==============================] - 0s 13ms/step - loss: 0.0085 - accuracy: 0.0000e+00 - val_loss: 0.0077 - val_accuracy: 0.0000e+00
Epoch 73/100
6/6 [==============================] - 0s 12ms/step - loss: 0.0084 - accuracy: 0.0000e+00 - val_loss: 0.0076 - val_accuracy: 0.0000e+00
Epoch 74/100
6/6 [==============================] - 0s 14ms/step - loss: 0.0083 - accuracy: 0.0000e+00 - val_loss: 0.0076 - val_accuracy: 0.0000e+00
Epoch 75/100
6/6 [==============================] - 0s 12ms/step - loss: 0.0083 - accuracy: 0.0000e+00 - val_loss: 0.0075 - val_accuracy: 0.0000e+00
Epoch 76/100
6/6 [==============================] - 0s 12ms/step - loss: 0.0082 - accuracy: 0.0000e+00 - val_loss: 0.0074 - val_accuracy: 0.0000e+00
Epoch 77/100
6/6 [==============================] - 0s 11ms/step - loss: 0.0081 - accuracy: 0.0000e+00 - val_loss: 0.0074 - val_accuracy: 0.0000e+00
Epoch 78/100
6/6 [==============================] - 0s 12ms/step - loss: 0.0080 - accuracy: 0.0000e+00 - val_loss: 0.0073 - val_accuracy: 0.0000e+00
Epoch 79/100
6/6 [==============================] - 0s 13ms/step - loss: 0.0079 - accuracy: 0.0000e+00 - val_loss: 0.0072 - val_accuracy: 0.0000e+00
Epoch 80/100
6/6 [==============================] - 0s 12ms/step - loss: 0.0078 - accuracy: 0.0000e+00 - val_loss: 0.0072 - val_accuracy: 0.0000e+00
Epoch 81/100
6/6 [==============================] - 0s 12ms/step - loss: 0.0077 - accuracy: 0.0000e+00 - val_loss: 0.0071 - val_accuracy: 0.0000e+00
Epoch 82/100
6/6 [==============================] - 0s 13ms/step - loss: 0.0076 - accuracy: 0.0000e+00 - val_loss: 0.0070 - val_accuracy: 0.0000e+00
Epoch 83/100
6/6 [==============================] - 0s 12ms/step - loss: 0.0076 - accuracy: 0.0000e+00 - val_loss: 0.0070 - val_accuracy: 0.0000e+00
Epoch 84/100
6/6 [==============================] - 0s 13ms/step - loss: 0.0074 - accuracy: 0.0000e+00 - val_loss: 0.0069 - val_accuracy: 0.0000e+00
Epoch 85/100
6/6 [==============================] - 0s 12ms/step - loss: 0.0073 - accuracy: 0.0000e+00 - val_loss: 0.0068 - val_accuracy: 0.0000e+00
Epoch 86/100
6/6 [==============================] - 0s 13ms/step - loss: 0.0072 - accuracy: 0.0000e+00 - val_loss: 0.0067 - val_accuracy: 0.0000e+00
Epoch 87/100
6/6 [==============================] - 0s 12ms/step - loss: 0.0071 - accuracy: 0.0000e+00 - val_loss: 0.0066 - val_accuracy: 0.0000e+00
Epoch 88/100
6/6 [==============================] - 0s 12ms/step - loss: 0.0070 - accuracy: 0.0000e+00 - val_loss: 0.0065 - val_accuracy: 0.0000e+00
Epoch 89/100
6/6 [==============================] - 0s 26ms/step - loss: 0.0069 - accuracy: 0.0000e+00 - val_loss: 0.0064 - val_accuracy: 0.0000e+00
Epoch 90/100
6/6 [==============================] - 0s 13ms/step - loss: 0.0068 - accuracy: 0.0000e+00 - val_loss: 0.0063 - val_accuracy: 0.0000e+00
Epoch 91/100
6/6 [==============================] - 0s 13ms/step - loss: 0.0067 - accuracy: 0.0000e+00 - val_loss: 0.0062 - val_accuracy: 0.0000e+00
Epoch 92/100
6/6 [==============================] - 0s 13ms/step - loss: 0.0065 - accuracy: 0.0000e+00 - val_loss: 0.0062 - val_accuracy: 0.0000e+00
Epoch 93/100
6/6 [==============================] - 0s 13ms/step - loss: 0.0064 - accuracy: 0.0000e+00 - val_loss: 0.0061 - val_accuracy: 0.0000e+00
Epoch 94/100
6/6 [==============================] - 0s 12ms/step - loss: 0.0063 - accuracy: 0.0000e+00 - val_loss: 0.0060 - val_accuracy: 0.0000e+00
Epoch 95/100
6/6 [==============================] - 0s 13ms/step - loss: 0.0062 - accuracy: 0.0000e+00 - val_loss: 0.0059 - val_accuracy: 0.0000e+00
Epoch 96/100
6/6 [==============================] - 0s 13ms/step - loss: 0.0061 - accuracy: 0.0000e+00 - val_loss: 0.0058 - val_accuracy: 0.0000e+00
Epoch 97/100
6/6 [==============================] - 0s 14ms/step - loss: 0.0060 - accuracy: 0.0000e+00 - val_loss: 0.0057 - val_accuracy: 0.0000e+00
Epoch 98/100
6/6 [==============================] - 0s 13ms/step - loss: 0.0059 - accuracy: 0.0000e+00 - val_loss: 0.0057 - val_accuracy: 0.0000e+00
Epoch 99/100
6/6 [==============================] - 0s 12ms/step - loss: 0.0059 - accuracy: 0.0000e+00 - val_loss: 0.0056 - val_accuracy: 0.0000e+00
Epoch 100/100
6/6 [==============================] - 0s 13ms/step - loss: 0.0058 - accuracy: 0.0000e+00 - val_loss: 0.0056 - val_accuracy: 0.0000e+00

In [39]:
y_pred=model.predict(x_test)

2/2 [==============================] - 0s 5ms/step

In [40]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.7430406604511139